<!--
Team Amanuensis (Alvin Wu, Dragos Lup, Jonathan Lee, Dean Carey) 
SoftDev 
P1 -- ???
2021-01-25 
-->
<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% block title %} Sign Up {% endblock %}
  {% block body %}
    <h1>
    Welcome to Amanuensis Blogs' sign up page!
    </h1>
    <h2>
    Roster: Alvin Wu, Jonathan Lee, Dean Carey, Dragos Lup
    </h2>
    <h3>
    No account? Sign up at this link below!
    </h3>
    <form action="/signup">
      Pick Username <input type="text" name="newusername">
      <br></br>
      Pick Password <input type = "text" name = "newpassword">
      <br></br>
      Write Short Bio <input type = "text" name = "bio">
      <br></br>
    <input type="submit" name="sub" value = "Sign Up!">
    </form>
    {% endblock %}
</html>
